<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Matador de monstro</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body >
  <div id="app">
    <div class="bg pontuacao">
      <div class="jogador">
        <p class="name">Jogador</p>
        <div class="life-bar">
          <div id="life" class="life " :class="{danger: life1 < 20}" 
          :style="{width: life1 + '%'}"></div>
        </div>
        <span>{{ life1 }}%</span>
      </div>
      <div class="monstro">
        <p class="name">Monstro</p>
        <div class="life-bar">
          <div id="life" class="life" :class="{danger: life2 < 20}" 
          :style="{width: life2 + '%'}"></div>
        </div>
        <span>{{ life2 }}%</span>
      </div>
    </div>
    <div v-if="resultado" class="bg result">
        <p v-if="life2 == 0" class="win">
          Você ganhou! :)
        </p>
        <p v-else class="lose">
          Você perdeu! :(
        </p>
    </div>
    <div class=" bg buttons">
      <button class="btn novo">INICIAR NOVO JOGO</button>
      <button class="btn ataque" @click="ataque">ATAQUE</button>
      <button class="btn atque-especial">ATAQUE ESPECIAL</button>
      <button class="btn cr">CURAR</button>
      <button class="btn dt">DESISTIR</button>
    </div>
    <div class=" bg logs">
      <ul>
        <li class="ul-item"></li>
      </ul>
    </div>
  </div>
  <script src="app.js"></script>    
</body>
</html>